@model SeniorProject.Models.MeetingRoomReservation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MeetingRoomReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time1" class="control-label"></label>
                <input asp-for="time1" class="form-control" />
                <span asp-validation-for="time1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time2" class="control-label"></label>
                <input asp-for="time2" class="form-control" />
                <span asp-validation-for="time2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="objective" class="control-label"></label>
                <input asp-for="objective" class="form-control" />
                <span asp-validation-for="objective" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="summary" class="control-label"></label>
                <textarea asp-for="summary" class="form-control"></textarea>
                <span asp-validation-for="summary" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="LabDayId" class="control-label"></label>
                <select asp-for="LabDayId" class ="form-control" asp-items="ViewBag.LabDayId"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
