
@{
    ViewData["Title"] = "Home";
}
    <h1 @*class="display-4"*@>Welcome To Reasearch Laboratory of Microbiology</h1>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href='~/css/HomePageStyleee.css' rel='stylesheet'>
</head>



<body>

  
    </body>

</html>