
@{
    ViewData["Title"] = "InventoriesList";
}

<h4>Inventories List</h4>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href='~/css/homePage.css' rel='stylesheet'>
</head>



<body>

    <div class="main">
        <a class="example_b" asp-controller="Items" asp-action="ConsumableIndex">Consumables</a>
        <a class="example_b" asp-controller="Items" asp-action="GlasswareIndex">Glasswares & Multiuse Plasticwares</a>
       

    </div>
    <div class="main1">
        <a class="example_b" asp-controller="Items" asp-action="FurnitureIndex">Furnitures</a>
        <a class="example_b" asp-controller="Items" asp-action="MachineIndex">Machines & Small Instruments</a>
     
    </div>



</body>

</html>
