
@{
    ViewData["Title"] = "InventoriesList";
}

<h4>Inventories List</h4>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href='~/css/homePage.css' rel='stylesheet'>
</head>



<body>

    <div class="main">
        <a class="example_b" asp-controller="Equipments" asp-action="consumables">Consumables</a>
        <a class="example_b" asp-controller="Equipments" asp-action="items">Items</a>
       

    </div>
    <div class="main1">
        <a class="example_b" asp-controller="Equipments" asp-action="furnitures">Furnitures</a>
        <a class="example_b" asp-controller="Equipments" asp-action="machines">Machines</a>
     
    </div>



</body>

</html>
