@{
    ViewData["Title"] = "Forms Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href='~/css/RequestsPageStyle.css' rel='stylesheet'>
</head>


<body>

    <h1>Requests</h1>

    <div class="main">
        <a class="example_b" asp-area="" asp-controller="Orders" asp-action="Index" rel="nofollow noopener">Orders Requests</a>
        <a class="example_b" asp-area="" asp-controller="AppUsers" asp-action="Index" rel="nofollow noopener">Accounts Requests</a>
        <a class="example_b" asp-area="" asp-controller="Forms" asp-action="Index" rel="nofollow noopener">Forms Requests</a>
    </div>
    <div>
        <a class="exc" asp-action="adminHome">Back to Home Page</a>
    </div>

</body>
</html>
