
@{
    ViewData["Title"] = "studentHome";
}
<h4>- Student Home Page -</h4>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href='~/css/homePage.css' rel='stylesheet'>
</head>



<body>

    <div class="main">
        <a class="example_b" asp-controller="Orders" asp-action="Create">Add Order</a>
        @*<a class="example_b" asp-controller="AppUsers" asp-action="Index2">Accounts</a>
        <a class="example_b" asp-controller="Items" asp-action="Index">Item</a>
        <a class="example_b" asp-controller="Home" asp-action="PermissionsList">Permissions</a>
        <a class="example_b" asp-controller="Projects" asp-action="Index">Projec*@@*ts</a>*@ @*collaboration/reasearcher*@
        @*comapnies*@
    </div>
    



</body>

</html>


