@model SeniorProject.Models.Equipment

@{
    ViewData["Title"] = "CreateMachine";
}

<h1>Machine</h1>

<h4>New</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight" class="control-label"></label>
                <input asp-for="weight" class="form-control">
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="units" class="control-label"></label>
                <select asp-for="units" class="form-control">
                    <option>grams</option>
                    <option>litres</option>
                    <option>item</option>
                </select>
                <span asp-validation-for="units" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="arrivalDate" class="control-label"></label>
                <input asp-for="arrivalDate" class="form-control" id="datePicker" />
                <span asp-validation-for="arrivalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expiryDate" class="control-label"></label>
                <input asp-for="expiryDate" class="form-control" />
                <span asp-validation-for="expiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notes" class="control-label"></label>
                <textarea asp-for="notes" class="form-control"></textarea>
                <span asp-validation-for="notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="room" class="control-label"></label>
                <select asp-for="room" class="form-control">
                    <option>Storage Room</option>
                    <option>Refrigeration Room</option>
                    <option>Meeting Room</option>
                    <option>Microbiology Department</option>
                    <option>Molecular Department</option>
                    <option>Cell Culture Department</option>
                    <option>Mycology Department</option>
                </select>
                <span asp-validation-for="room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    document.getElementById('datePicker').valueAsDate = new Date();
</script>
